@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@0;1&family=Lora:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,800;1,400;1,700&family=Roboto:wght@300;400;500;700&display=swap');

:root{
    --roboto-font : 'Roboto', sans-serif;
    --cormorant-font:'Cormorant Garamond', serif;
    --poppin-font: 'Poppins', sans-serif;
    --montserrat-font:'Montserrat', sans-serif;

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.wide{
    width: 90%;
    max-width: 1200px;
    margin-inline: auto;
 }
 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: var(--cormorant-font);
}
html{
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

.web-buns_and_friend{
    position: relative;
    background-image: url(../Data/matcha.png);
    background-repeat: no-repeat;
    background-size:100% ;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

#header{
    top:0;
    z-index: 2;
    position:fixed ;
    min-height: 46.5px;
    width: 100%;
    background-color: rgb(194, 151, 157);
}
#nav{
    top: 0;
    list-style-type: none;
    text-align: center;
}
#nav li {
    display: inline-block;
    font-size: 30px;
    padding: 20px;
    color: pink;
}
#nav li a{
    padding: 14px 16px;
    text-decoration: none;
    color: #fff;
}
#nav a:hover {
    background-color: #ccc;
    color: black;
  }
.heading{ 
/*    
    position:relative; */
    margin-top:0px;
    min-height:800px;
    width:100%;
    background-image: url(../Data/buniuthuong.png);
    background-repeat: no-repeat;
    background-size:cover ;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.heading h2{
    text-align: center;
    /* line-height: 20px; */
    padding: 16px;
    background-color: rgba(253, 253, 253, 0.829);
    width: 100%;
    max-width: 700px;
    min-height: 100px;
    color: #7c795d; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 70px;
    align-content: center;
    
}

.section1{
    margin-top: 30px;
    min-height: 500px;
  }
  .section1 h2{
    text-align: center;
  }
 .section-light{
    background-color:#f4f4f4;
    color:#666;
  }

.about-content{
    padding: 16px;
    background-color:#f4f4f4;
    color: #7c795d;
}
.about-content h2{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 8px;
}
.about-content p{
  color:#000;
  font-size:30px;
  letter-spacing:2px;

}
.about-content img{
    height: 30px;
    width: 30px;    
}

.section2{
    margin-top: 80px ;
    min-height: 500px;
    text-align:center;
    color: #7c795d;
  }
  .section2 h2{
    text-align:center;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 16px;
  }
  .pet-img-list{
    display: flex;
    justify-content: space-around;
    gap: 1em;
    padding: 3em;
  }
  .pet-img{
    width: 100%;
    max-width:300px; 
    height:400px;
    border-radius: 10px ;
  }
  .box{
    transition: box-shadow .3s;
  }
  .box:hover {
    box-shadow: 0 0 30px rgba(33, 33, 33, 0.5); 
  }

.pic-meet{
    position: absolute;
    height: 400px;
    width: 100%;
    max-width: 700px;
    border-radius: 30px;
}
.meet-section{
    width: 100%;
    min-height: 1000px;
    text-align:center;
    background-color: #f4f4f4;
    color: #7c795d;
}
.relative{
    min-height: 1000px;
    padding:3em 0;
    position: relative;
}
.meet-section h2{
    padding: 16px;
    text-align:center;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 16px;
  }
.pic1{   
    left: -5%  ;
}
.pic2{
    top:200px;
    left: 10%  ;
}
.pic3{
    top:400px;
    left: 28%  ;
}

#Member{
    padding-top:60px;
    background-image:url(../Data/gradient-pink.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px ;
    width: 100%;
   
    text-align:center;
}
.member{
    display: flex;
    justify-content: center;
    gap: 2em;
    padding-bottom:3em ;
}
#Member h2{
    color: #7c795d;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 8px;
}
.avatar{
    position: relative;
    width: 250px;
    height:400px;
    /* margin: 40px; */
    transition: 0.5s;
}
.img-avatar{
    width: 100%;
    max-width: 250px;
    height: 200px;
    box-sizing: border-box;
}
.img-avatar>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    transition: 0.5s;
}
.avatar:hover .img-avatar img{
    opacity: 1;
}

.avatar:hover{
    background:#fff;
    z-index: 1;
}

.content-avatar{
    height: 500px;
    opacity: 0;
    transition: 0.5s;
    font-size: 10px;
    padding: 8px;
}
.content-avatar p{
    /* text-align: cr; */
    font-size: 20px;
    padding: 8px;
}
.content-avatar p img{
        /* text-align: cr; */
    width: 30px;
    height: 30px;
}
.avatar:hover .content-avatar{
    opacity: 1;
}
.avatar:hover .content-avatar h2 span{
    padding: 2px ;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(177, 128, 22, 0.863);
}       


#bg{
    width: 100%;
    height: 1000px;
    background: #666  url(../Data/heart.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    mix-blend-mode: screen;
    margin-bottom:300px; 
}
.img2{
    width: 100%;
    min-height: 600px;
    background-image: url(../Data/cauhanoi.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.img3{
    width: 100%;
    min-height: 600px;
    background-image: url(../Data/hanoi1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#footer{
    bottom:0px;
    min-height: 100px;
    width: 100%;
    padding: 36px 16px;
    text-align: center;
    background: #000;
}

#footer .social_media a{
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 24px;
    text-decoration: none;
    color:#7c795d;
}
.footer-text{
    padding-top: 10px;
    font-size: 30px;
    font-family: arial;
    font-family: 'Open Sans', sans-serif;
    color: #7c795d; 
}
#footer a{
    padding-top: 10px;
    font-size: 10px;
    font-family: arial;
    text-decoration: none;
    color: #666;
}

/* Reponsive nav */
.nav-on-mobile {
    display: inline-block;
    cursor: pointer;
    display: block;
    font-size: 40px;
    padding: 10px;
    width: 40px;
    display: none;
}
.nav__mobile {
    font-family: 'Lora',serif;
    font-size: 15px;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: fadeIn ease-in .3s;
    display: none;
}
.nav__mobile-close {
    margin-left: 40px;
    padding-top: 20px;
    width: 40px;
    height: 40px;
}
.nav__mobile-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.nav__mobile-list {
    text-transform: uppercase;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
}
.nav__mobile-list li {
    color: #000;
    border-top: 1px solid rgba(0,0,0,0.09);
    width: 100%;
    line-height: 30px;
    padding: 10px;
}
.list_hover:hover{
    color: pink;
    background-color: #666;
}